body {
  margin: 0;
}

.navText {
  color: blue;
}

.imageCell {
  display: inline;
  margin: 10px;
}

.image {
  cursor: pointer;
}

.single-photo {
  width: 100%;
}

.singleImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
